@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
    margin:100px 0px;
}

.app {
    .container {
        font-family:'Work Sans', sans-serif;

        .link {
            text-decoration: none;
            color: inherit;
        }


        // login/register page

        .auth{   
            .content {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right:10%;
            }

            img {
                width:30%;
                height:auto;
                background-color: white;
                order:2;
            }

            h1 {
                font-size: 100px;
                color: black;
                text-align: center;
                margin-top: 10px;
            }

            form {
                display: flex;
                flex-direction: column;
                width:100%;
                max-width:300px;
                align-items: center;
                margin-top: 20px;
                order:3;
            }

            input {
                padding: 15px;
                border: 1px solid black;
                margin-bottom:15px;
                border-radius:10px;
                width:100%;
            }

            button {
                background-color:  black;
                    color: white;
                    border: none;
                    padding: 10px 20px;
                    font-size:1.5rem;
                    cursor: pointer;
                    border-radius: 6px;
                    transition: background-color 0.3s, color 0.3s;
                    font-weight:bold;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                        
                    &:hover {
                        background-color: white;
                        color: black;
                    }
            }

            span {
                text-align: center;
                margin-top: 30px;
                color:gray;
            }

            p {
                color: red;
                text-align: center;
                margin-top:10px;
            }

            a {
                color: black;
                text-decoration: none;
                font-weight: bold;
                margin-top: 30px;
            }
              
            a:hover {
                text-decoration: underline;
            }

        @media only screen and (max-width: 768px) {
            .content {
              flex-direction: column;
              align-items: center;
              margin-right: 0;
            }
        
            img {
              width: 50%;
              order: 1;
            }
        
            h1 {
              font-size: 60px;
              margin-top: 0;
            }
        
            form {
              order: 2;
            }
          }
        }
    }



        // navbar
        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            height: 120px;
            width:100%;
            background-color: #fff;
            z-index: 100;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            align-items: center;
            display: flex;

            .container {
                display: flex;
                align-items: center;
                width:100%;
                justify-content: space-between;

                .header {
                    display: flex;
                    align-items: center;
                    margin:20px;
        
                    .logo{
                        .link {
                            display: flex;
                            align-items: center;
                            text-decoration: none;
                            color: black;
                            justify-content: center;

                            img {
                                width:160px;
                            }

                            h2 {
                                font-size: 4rem;
                                margin-bottom:10%;
                            }
                        }
                    }
                }

                .body {
                    display: flex;
                    align-items: center;
                    position: relative;
                    top:10%;
                    margin-right:20px;
                    font-weight:bold;


                    .write,
                    .saved {
                        margin-right: 60px;

                    }
                    
                    button {
                        background-color:  black;
                        color: white;
                        border: none;
                        padding: 10px 20px;
                        font-size:1.5rem;
                        cursor: pointer;
                        border-radius: 6px;
                        transition: background-color 0.3s, color 0.3s;
                        font-weight:bold;
                        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                            
                        &:hover {
                            background-color: white;
                            color: black;
                        }
                    }

                    .dropdown-toggle {
                        font-size: 2rem;
                    }
                    
                    .dropdown-menu {
                        display:none;
                        position: absolute;
                        top: 100%;
                        right: 0;
                        background-color: #fff;
                        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                        border-radius: 6px;
                        z-index: 1;
                    
                        &.visible {
                          display: block;
                        }

                        .categories,
                        .log {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            padding:10px;
                            transition: background-color 0.3s;
                            font-size:30px;

                            button {
                                margin-top:2rem;
                                background-color:  black;
                                color: white;
                                border: none;
                                padding: 10px 20px;
                                font-size:1.5rem;
                                cursor: pointer;
                                border-radius: 6px;
                                transition: background-color 0.3s, color 0.3s;
                                font-weight:bold;
                                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                                    
                                &:hover {
                                    background-color: white;
                                    color: black;
                                }
                            }
                        }

                        .categories {
                            .link {
                                cursor: pointer;
                                transition: background-color 0.3s, color 0.3s, border-bottom 0.3s;
                                &:hover {
                                    border-bottom: solid black; 
                                }
                            }
                        }
                    }
                }
            }
                


            @media only screen and (max-width: 768px) {
                    .container {
                        .header {
                            margin:0px;
                            .logo{
                                .link {
                                    img {
                                        display:none;
                                    }
        
                                    h2 {
                                        font-size: 2rem;
                                        margin-left:0.6rem;
                                        margin-top:1rem;
                                    }
                                }
                            }
                        }
            
                        .body {
                            .write {
                                margin: 20px;
                            }
                            
                            button {
                                background-color:  black;
                                color: white;
                                border: none;
                                padding: 10px 20px;
                                font-size:1rem;
                                cursor: pointer;
                                border-radius: 6px;
                                transition: background-color 0.3s, color 0.3s;
                                font-weight:bold;
                                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                            }
        
                            .dropdown-toggle {
                                font-size: 1.4rem;
                                margin-left:10px;
                                background-color:  black;
                            }
                            
                            .dropdown-menu {
                                display:none;
                                position: absolute;
                                top: 100%;
                                right: 0;
                                background-color: #fff;
                                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                                border-radius: 6px;
                                z-index: 1;
                            
                                &.visible{
                                  display: block;
                                }
                                
        
                                .categories,
                                .log {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    cursor: pointer;
                                }

                                .log {
                                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                                    button {
                                        background-color: black;
                                        font-size:1rem;
                                        color:white;
                                    }
                                    
                                }
        
                                .categories {
                                    font-size:1.2rem;
                                    gap:0;
                                }
                            }
                        }
                    }
                }
            }


        
        // footer
        footer {
            margin-top: 50px;
            padding:20px;
            display:flex;
            flex-wrap:wrap;
            align-items: center;
            justify-content: space-between;
            font-size:14px;

            img {
                height:80px;
            }
        }
            
            @media only screen and (max-width: 768px) {
                flex-direction: column;
                text-align: center;
            
                img {
                  margin-bottom: 20px;
                }
            }
        

        // hero
        .hero {
            background-image: url('./images/hero.jpg');
            background-size: cover;
            background-position: center center;
            height: 90vh;
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            color: #fff;
            text-align: right;
          }
          
          .hero-content {
            position: relative;
            z-index: 2;
          }
          
          .title {
            font-size: 8em;
            font-weight: bold;
            margin-bottom: 20px; 
            margin-right:10%;
          }
          
          @media only screen and (max-width: 768px) {
            .hero {
              height: 70vh;
              align-items: center;
              justify-content: center;
              text-align: center;
            }
          
            .title {
              font-size: 5em;
              margin-bottom: 10px;
              margin-right:0;
            }
          }


        // description        
        .description {
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            text-align: center;
          
              .text {
                max-width: 50%;
                margin: 0 4rem;

                h1 {
                    font-size:5rem;
                }
        
                h2 {
                    font-size: 2rem;
                    margin-bottom: 2rem;
                }
                
                p {
                    font-size: 1.6rem;
                    line-height: 1.5;
                }
              }
          
              .image {
                flex:1;

                img {
                    width: 100%;
                }
              }
            }
        

        @media only screen and (max-width: 768px) {
            .image {
                display:none;
            }
        }


        // homepage
        .home {
            h1 {
                font-size: 5rem;
                line-height: 1.5;
                display:flex;
                text-align: center;
                justify-content: center;
                margin: 3rem 0;
            }

            .routines {
                margin-top:80px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                .routine-card {
                    margin: 10px;
                    overflow:hidden;
                    border-radius: 8px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    width: calc(33.33% - 20px); 
                    max-width:300px;
                    height: 350px;
                    transition: transform 0.3s ease;

                    &:hover {
                        transform: scale(1.03);
                    }

                    .routine {
                        position:relative;
                        overflow:hidden;                        
                        border-radius: 8px;
                        display: block;
                        text-decoration: none;
                        color: inherit;
                        position: relative;

                        img {
                            width: 100%;
                            height: 350px;
                            object-fit: cover;
                        }

                        .card-content {
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: rgba(0, 0, 0, 0.7);
                            color:white;
                            padding:10px;
                            font-size: 1.8em;
                            font-weight: bold;
                        }
                    }
                }
            }

            .search-bar {
                display: flex;
                justify-content: center;
            }
        
            .search-bar input[type="text"] {
                width: 400px;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 6px;
                font-size: 16px;
                transition: border-color 0.3s ease;
            }
        
            .search-bar input[type="text"]:focus {
                outline: none;
                border-color: black;
            }
        }

        @media only screen and (max-width: 768px) {
            .home .routines {
                justify-content: center;
        
                .routine-card {
                    width: 100%;
                    margin: 10px 0;
                    border-radius: 8px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    max-width:300px;
                    height: 330px;

                    .logincard {
                        .card-content {
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            top:70%;
                            background: rgba(0, 0, 0, 0.7);
                            color:white;
                            font-size: 2em;
                            font-weight: bold;
                        }
                    }
                }
            }
            .home .search-bar {
                margin-top: 0px;
            }
        
            .home .search-bar input[type="text"] {
                width: 80%; 
                max-width: 300px;
            }
        }


        // single   
        .single {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding:20px;
            

            .content {
                text-align: center;
                margin-bottom: 20px;

                h1 {
                    font-size: 4rem;
                    margin-bottom: 10px;
                }

                h3 {
                    font-size: 1.5rem;
                    margin-bottom: 20px;
                }

                img {
                    width: 300px;
                    max-width: 600px;
                    height:300px;
                    border-radius: 8px;
                    margin-bottom: 20px;
                }
    
                .info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
    
                    .username {
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                }

                .edit {
                    font-size:1.6rem;
                    cursor: pointer;
                
            .user {
                display:flex;
                align-items: center;
                justify-content: center;
            }

            .exercise {
                flex: 2;
                margin-bottom:20px;
            }

            h2 {
                font-size:2rem;
                margin-top:2rem;
            }
          }
          button {
            text-align: center;
            background-color:  black;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size:1.2rem;
            cursor: pointer;
            border-radius: 6px;
            transition: background-color 0.3s, color 0.3s;
            font-weight:bold;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);       
          
            &.unsaved {
              background-color: green;
          
              &:hover {
                background-color: white;
                color: green;
              }               
            }
          
            &.saved {
              background-color: rgb(218, 25, 25);; 
          
              &:hover {
                background-color: white;
                color: rgb(218, 25, 25);;
              }            
            }
        }
        }
      }


        // menu
        .menu {
            display: flex;
            align-items: center;
            justify-content: center;
        
            h1 {
              font-size: 2rem;
            }
        
            .routine {
                display:flex;
                flex-direction: column;
                margin: 30px;
                overflow:hidden;
                position: relative;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                height:400px;
                width:400px;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.03);
                }

                .overlay {
                    position: absolute;
                    top: auto;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0, 0, 0, 0.5);
                    border-radius: 8px;
                    z-index: 1;
                    width:100%;
                    height:30%;
                }

                .content {
                    position: absolute; 
                    bottom: 0; 
                    left: 0; 
                    z-index: 2;
                    padding: 15px;

                    h1{
                        font-size: 2rem;
                        margin:1rem;
                        color:white
                    }
                }
        
              img {
                width: 50%;
                height: 50%;
                object-fit: cover;
              }
            }
        } 

        @media (max-width: 768px) {
            .menu {
                .routine {
                    width: 50%;
                    height: auto;
    
                    .overlay {
                        height: 50%;
                    }
    
                    .content {
                        h1 {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }


        //exercises
        .exercises {
            display:grid;
            gap:2rem;

            .write {
                display:grid;
                align-items: center;
                justify-content: center;

                h2 {
                    text-align: center;
                    font-size:3rem;
                    margin-bottom:1rem;
                }

                .form {
                    display:grid;
                    align-items: center;
                    justify-content: center;
                    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
                    gap:0.2rem;

                    input {
                        padding: 10px; 
                        border: 1px solid black;
                        margin-bottom: 16px;
                        border-radius: 6px;
                        width: 100%;
                        font-size: 1.2em;
                        cursor:pointer;
                        box-sizing: border-box;
                        text-align: center;
                    }
                }

                    label, button {
                        text-align: center;
                        background-color:  black;
                        color: white;
                        border: none;
                        padding: 10px 20px;
                        font-size:1.2rem;
                        cursor: pointer;
                        border-radius: 6px;
                        transition: background-color 0.3s, color 0.3s;
                        font-weight:bold;
                        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                            
                        &:hover {
                            background-color: white;
                            color: black;
                        }
                    }

                    label {
                        margin-bottom: 1rem;
                    }

                    button {
                        background-color:  green;

                        &:hover {
                            color: green;
                        }
                    }
            }

            .listexercises {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap:4rem;

                .exercise {
                    margin-bottom: 2rem;

                    img {
                        width:100%;
                        height:200px;
                        object-fit: cover;
                        border-radius: 8px;
                    }
    
                    span {
                        font-size:30px;
                        font-weight: bold;
                        text-align: center;
                    }
    
                    p {
                        font-size:16px;
                        text-align: center;
                    }
    
                    .deleteexercise{
                        margin-top:1rem;
                        background-color:  rgb(218, 25, 25);
                        color: white;
                        border: none;
                        padding: 10px 2rem;
                        font-size:1.2rem;
                        cursor: pointer;
                        border-radius: 6px;
                        transition: background-color 0.3s, color 0.3s;
                        font-weight:bold;
                        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                            
                        &:hover {
                            background-color: white;
                            color: rgb(218, 25, 25);
                        }
                    }
                    
                    .delete {
                        justify-content: center;
                        align-items: center;
                        display:flex;
                    }

                    .info {
                        display:grid;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

        @media (max-width: 768px) {
                .listexercises {
                    justify-content: center;
                    display: flex;
                    flex-direction: column;


                    .exercise { 
                        flex-basis: 0 0 calc(33.33% - 2rem);
                    }
                }
            }



        // sets
        .listsets {
            justify-content: center;
            align-items: center;
            display:block;
            
            h2 {
                text-align: center;
            }
        }
        
        .set {
            display: block;
            text-align: center;
            border: 1px solid #ccc;
            justify-content: center;
            padding:1rem;
        }

        input {
            padding: 10px; 
            border: 1px solid black;
            margin-bottom: 16px;
            border-radius: 6px;
            width: 100%;
            font-size: 1.2em;
            cursor:pointer;
            box-sizing: border-box;
            text-align: center;
        }
        
        .delete {
            button {
                background-color:  rgb(218, 25, 25);
                color: white;
                border: none;
                padding: 10px 10px;
                font-size:1.2rem;
                cursor: pointer;
                border-radius: 6px;
                transition: background-color 0.3s, color 0.3s;
                font-weight:bold;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                    
                &:hover {
                    background-color: white;
                    color: rgb(218, 25, 25);
                }
            }
        }

        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

                button {
                    background-color:  green;
                    color:white;
                    border: none;
                    padding: 10px 2rem;
                    font-size:1.2rem;
                    cursor: pointer;
                    border-radius: 6px;
                    transition: background-color 0.3s, color 0.3s;
                    font-weight:bold;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                        
                    &:hover {
                        background-color: white;
                        color: green;
                    }
                }
            }

        @media (max-width: 768px) {
            .set {
                padding: 0.5rem;
            }
        
            .add {
                flex: 0 0 calc(50% - 15px);
            }
        
            button {
                font-size: 1rem;
            }
        }
    
            


        // write
        .add {
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            .image {
                flex:1.4;
                position: relative;

                img {
                    width: 100%;
                    display:block;
                }
            }

            .title {
                position: absolute;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                top:20%;
                left:58%;

                .contenttitle {
                    font-size:5rem;
                }
            }


            .content {
                flex: 2;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap:10%;

                .inputs {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap:4rem;

                    .routineinput {
                        padding: 20px;
                        border: none;
                        border-radius:6px;
                        width:30rem;
                        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                        font-size:1.2rem;
                        text-align: center;
                    }
    
                    .file {
                        text-decoration: underline;
                        cursor:pointer;
                        margin-bottom:2rem;
                        font-size:1.4rem;
                    }
                }
                
            }

            .menu {
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                .item {
                    font-size:1rem;
                    display: flex;
                    flex-direction: row;
    
                    .cat {
                        display:flex;
                        align-items: center;
                        gap:1rem;
                        margin:1rem;
                        font-size:1.2rem;

                        input {
                            margin-top:1rem;
                        }
                    }
                }
            }

            button {
                margin-top:2rem;
                background-color:  black;
                color: white;
                border: none;
                padding: 10px 20px;
                font-size:1.5rem;
                cursor: pointer;
                border-radius: 6px;
                transition: background-color 0.3s, color 0.3s;
                font-weight:bold;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                    
                &:hover {
                    background-color: white;
                    color: black;
                }
            }
        }

        @media (max-width: 768px) {
            .add {
                margin:10rem;
                .image,
                .title {
                    display:none;
                }
    
                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
    
                    .inputs {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap:2rem;
    
                        .routineinput {
                            padding:16px;
                            border: none;
                            border-radius:6px;
                            width:10rem;
                            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                            font-size:1.2rem;
                            text-align: center;
                        }
        
                        .file {
                            text-decoration: underline;
                            cursor:pointer;
                            margin-bottom:2rem;
                            font-size:1.4rem;
                        }
                    }
                    
                }
    
                .menu {
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
        
                    .item {
                        font-size:1rem;
        
                        .cat {
                            display:flex;
                            align-items: center;
                            gap:1rem;
                            margin:1rem;
                            font-size:1.2rem;
                        }
                    }
                }
            }
        }

        // saved routines
        .saved {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            
          
            h1 {
              margin: 2rem 0;
              text-align: center;
              font-size: 4rem;
            }
          
            .routine-table {
              width: 100%;
              border-collapse: collapse;
              margin-top: 20px;

          
              th, td {
                border: 1px solid #ccc;
                padding: 10px;
                text-align: left;
                justify-content: center;
                align-items: center;
                text-align: center;
              }
          
              th {
                background-color: #f0f0f0;
              }
          
              a {
                text-decoration: none;
                color: #333;
                transition: background-color 0.3s;
          
                &:hover {
                  background-color: #f0f0f0;
                }
              }
          
              button {
                background-color: rgb(218, 25, 25);
                color: white;
                border: none;
                padding: 8px 12px;
                font-size: 1rem;
                cursor: pointer;
                border-radius: 4px;
                transition: background-color 0.3s, color 0.3s;
                font-weight: bold;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
          
                &:hover {
                  background-color: white;
                  color: rgb(218, 25, 25);
                }
            }
        }
    }          
}