.app {
    display: flex;
    justify-content: center;
    .container {
        width: 1024px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        .link {
            text-decoration: none;
            color: inherit;

        }


        // login page

        .auth{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: teal;
            height: 100vh;
            flex-direction: column;
            color: white;

            form {
                display: flex;
                flex-direction: column;
                width:200px;
                gap: 10px;
                padding: 40px;
                background-color: white;
            }

            input {
                padding: 5px;
                border: none;
                border-bottom: 1px solid gray;
            }

            button {
                padding: 5px;
                background-color: black;
                color:white;   
            }

            span {
                color: black;
                text-align: center;
                margin-top: 4px;
            }

            p {
                color: red;
                text-align: center;
                font-size: large;
            }
        }



        // navbar

        .navbar {
            .container {
                display: flex;
                justify-content: space-between;

                .logo{
                    img{
                        width:120px;
                    }
                }

                .links{
                    display:flex;
                    gap:50px;
                    align-items: center;

                    h6{
                        font-size: 16px;
                    }

                    span {
                        cursor: pointer;
                    }

                    .write {
                        background-color: orangered;
                        width:50px;
                        height:50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        
                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }

        
        // footer
        footer {
            margin-top: 100px;
            padding:20px;
            display:flex;
            align-items: center;
            justify-content: space-between;
            font-size:12px;
            img{
                height:100px;
            }
        }


    }
}